.mw_browse {
  #folder-management-buttons {
    height: auto;
  }

  #modal-box input{
    -webkit-appearance: none !important;
  }

  a#kind-sorter, a#modified-sorter {
    display: none !important;
  }
  .browse-file .kind, .title_bubble_container {
    display: none;
  }
  .selected #browse-sort {
    display: block;
  }

  .filename-col {
    width: 100% !important;
    float: none !important;
    img {
      margin-top: 10px;
    }
    .filename-link {
      width: 70%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .browse-file .modified {
    font-size: 11px;
    line-height: 18px;
    &:before {
      content: "Modified: ";
    }
    .shmodel-file.title_bubble {
      display: none;
    }

  }

  .browse-file .mw-menu-button {
    // @include mw-plus();
    @extend .mw-gear;
    display: block;
    position: absolute;
    right: 15px;
    top: 28px;
  }

  #browse-location {
    font-size: 18px;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    white-space: nowrap;
    width: 100%;
  }
  #browse-empty {
    margin: 0px 10px;
    h3 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    p {
      line-height: 22px;
    }
  }
  #breadcrumb-dropdown {
    display: block;
    position:absolute;
    height:auto;
    left:0;
    right:0;
    margin-right:10px;
    margin-left:10px;
    /*&:not(.mw_active) {
      display: none;
    }*/
  }

  /*.mw_mask_dropdown.mw_mask_active {
    top: 0px;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: 2;
  }*/

  #browse-rightmenu {
    display: none;
  }
  #browse-global-actions-bar {
    padding-top: 10px;
  }

  #modal {
    width: auto !important;
    margin: 0px 10px !important;
    left: 0;
    right: 0;
    top: 50px !important;
  }
  #modal-box {
    padding: 30px 10px 10px 10px;
  }
  #modal-title {
    font-size: 16px;
    > div {
      line-height: 24px;
      margin-left: 38px;
      > img.sprite {
        margin-left: -38px;
      }
    }
  }

  #shared-folder-wizard > div, #new_folder_name {
    width: auto !important;
  }
  #invite-more-wizard .fb-connect-link, #invite-more-form .fb-connect-link {
    position: relative;
    top: 0px;
    right: 0px;
  }
  #invite-more-wizard #custom-message-wizard {
    width: 262px !important;
  }
  #allow-members-table {
    width: 100% !important;
    margin-bottom: 10px;
    td {
      display: block;
    }
  }
  #allow-other-members-to-share-container {
    margin: 10px 0px;
  }


  // Acct info / sidebar
  #page-header, #page-sidebar {
    display: none;
  }

  // Advanced features
  #browse-header {
    #browse-root-actions {
      display: none;
    }
    // #browse-sort
  }


  // Override Styles:


  #outer-frame {
    margin: 0px; //!auto
    width: 100%; //!constant
    #page-content {
      padding-left: 0px; //!some amt
      min-height:0px;
      padding-bottom: 0px;

      #browse-box{
        margin: 0px; //~ -1px
        #browse-header {
          position: relative; // !fixed
          top: 0px; // !constant
          width: auto; // !constant
          min-height: 0px; // !constant
        }

        #browse-files {
          padding:0px; //!constant
        }
      }

      #context-mask {
         display: none;

         &.visible {
           position: absolute;
           width: 100%;
           height: 100%;
           background: #AAA;
           opacity: 0.8;
           z-index:5;
           top:0px;
           display: block;
         }
      }

      #context-menu-container {

        > #context-menu {
          top: 40px !important; // override inline
          left: 5% !important; // override inline
          width: 90%;

          .action {

			&:last-child > label {
              border-bottom: 0px;
			}
		    label[for='copy_button']{
              border-bottom: 0px;
            }

            label {
              border-bottom: 1px solid #EDF1F5;
              display:block;


              // Disable actions we can't support
              &[for='download_button'] {
                display: none;
              }

              // Hide actions that are out of scope (but work!)
              &[for='revisions_button'] {
                display: none;
              }

            }


          }

        }

      }


    }
  }
  #mw_log_out {
    display: block;
    padding: 10px;
    text-align: right;
  }
  #context-menu {
    button {
      width: 100%;
    }
  }
  #file-preview-modal {
    .preview {
      position: relative;
      top: 0px;
    }
    #file-preview-menu {
      position: relative;
      margin-top: 0px;
      > * {
        float: none;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

