// Acct info / sidebar
#page-header, #page-sidebar {
  display: none;
}

// Advanced features
#browse-header {
  #browse-global-actions-bar, #browse-root-actions {
    display: none;
  }
  // #browse-sort
}


// Override Styles:

    
#outer-frame {
  margin: 0px; //!auto
  width: 100%; //!constant
  #page-content {
    padding-left: 0px; //!some amt
    
    
    #browse-box{
      margin: 0px; //~ -1px
      #browse-header {
        position: relative; // !fixed  
        top: 0px; // !constant
        width: auto; // !constant
        min-height: 0px; // !constant
      } 
      
      #browse-files {
        padding:0px; //!constant 
      }
    }

    #context-mask {
      display: none;

      &.visible {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #AAA;
        opacity: 0.8;
        z-index:5;
        top:0px;
        display: block;
      }
    }
    
    #context-menu-container {
     
      > #context-menu {
        top: 40px !important; // override inline
        left: 5% !important; // override inline
        width: 90%;  
        z-index:6;
        
        .action {
          
          &:last-child > label{
            border-bottom: 0px; 
          }
          
          label {
            border-bottom: 1px solid #EDF1F5;  
            display:block;
            
            
            // Disable actions we can't support            
            &[for='download_button'] {
              display: none; 
            }
            
          }
          
          
        }
        
      } 
      
    }
    
    
  }
}

